

@{
    ViewBag.Title = "Wellcom";

}


<div class="col-md-12 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3 class="orange-text">Wellcom</h3>
                </div>
            </div>
            <div>
                <a asp-action="Book" asp-controller="Booking" class="btn btn-outline-success" style="width:auto">Click Here to Book</a>

            </div>
        </div>
    </div>

</div>

